# Core Packages
--extra-index-url https://download.pytorch.org/whl/cu121
torch==2.5.1+cu121  # PyTorch with CUDA 12.1 support
transformers
scikit-learn
evaluate
peft
trl
numpy
pandas
bitsandbytes
langchain
langchain-openai

# Development Packages
tqdm
ipykernel
matplotlib
python-dotenv

# Linting
black
flake8
isort
