# Core Packages

transformers
scikit-learn
evaluate
peft
trl
numpy
pandas
bitsandbytes
langchain
langchain-openai
langchain-huggingface
wikipedia-api

# Visualization Packages
streamlit
streamlit-option-menu
wandb

# RAG Packages
pinecone-client
langchain-community
langchain_huggingface
langchain_pinecone
langchain_core

# Development Packages
tqdm
ipykernel
matplotlib
python-dotenv

# Linting
black
flake8
isort

"unsloth[colab-new] @ git+https://github.com/unslothai/unsloth.git"
xformers